<h3><a href="https://en.wikipedia.org/wiki/Superseded_theories_in_science">Superseded theories in science</a></h3>

<ul class="menu">
	<li><a href="https://en.wikipedia.org/wiki/Spontaneous_generation">Spontaneous generation</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Transmutation_of_species">Transmutation of species</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Vitalism">Vitalism</a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
</ul>