<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href='{{ "/" | absolute_url }}'>{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        {% include nav.html %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>knowledge repository by <a href="https://auli.viidalepp.org">Auli Viidalepp</a></small></p>
        <p><small><a href="https://github.com/technosemiotics/ai-textbook/">view in github</a></small></p>
      </footer>
    </div>
  </body>
</html>
